/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/* #hotelPicture{
	-fx-background-image: url(lobby3.jpg); 
	-fx-background-repeat:stretch;
}
 */
 .jfx-badge{
	-fx-border-color: white;
	-fx-background-radius:25;
	-fx-border-radius:25;
	
}
#allot{
	-fx-background-color:  linear-gradient(to top right,#c7596f 0%, #bd062b 100%);
}
#book{
	-fx-background-color:  linear-gradient(to top right,rgba(0,219,255,1) 0%, rgba(0,125,255,1) 100%);
}
#hire{
	-fx-background-color:  linear-gradient(to top right, #58e286 0%, #05a139 100%);
}
#access{
	-fx-background-color:  linear-gradient(to top right, rgba(255,196,106,1) 0%, rgba(255,154,0,1) 100%);
}
#search{
	-fx-background-color:  linear-gradient(to top right, rgba(185,139,255,1) 0%, rgba(102,0,255,1) 100%);
}
#notify{
	-fx-background-color:  linear-gradient(to top right, rgba(255,251,108,1) 0%, rgba(255,201,0,1) 100%);
}
#profits{
	-fx-border-color: black;
}
#notif{
	-fx-border-color: black;
}
.badge{
	-fx-border-radius:4;
}
.button{
	-fx-border-color: white;
	-fx-border-radius:4;
}
#bookbtn{
	-fx-background-color:  #0c90c7;
	
}
#allotbtn{
	-fx-background-color:  #902145;
}
#hirebtn{
	-fx-background-color:  #08a40b;
}
#accessbtn{
	-fx-background-color:  #ff9100;
}
#searchbtn{
	-fx-background-color:  #9000ff;
}
#notifybtn{
	-fx-background-color:  #ffd100;
}
.infoArea{
	-fx-background-color:  white;
	-fx-border-width:3;
}
.sub_button{
	-fx-background-color: black;
	-fx-text-fill: white;
}
#addAccount{
	-fx-background-color:  linear-gradient(to top left, #ffb855 0%, #cf7900 100%);
}
#addSupervisor{
	-fx-background-color:  linear-gradient(to top right, #d7d7d7 0%, #4a4a4a 100%);
}
#addAdmin{
	-fx-background-color:  linear-gradient(to top left, #fffb6c 0%, #d7a711 100%);
}
.sidebar-button{
	-fx-border-color:transparent;
}
.pop-ups{
	-fx-border-color:black;
	-fx-border-width:3;
	 -fx-background-color:#242833;
	 -fx-border-radius:5;
	 -fx-background-radius:5;
}
.pop-inputs{
	-fx-text-inner-color:white;
}
.chart-legend-item{
    -fx-text-fill: #4682b4;
}
.chart-title {
  -fx-text-fill: #4682b4;
  -fx-font-size: 2.3em;
}
 
.axis-label {
  -fx-text-fill: #4682b4;
  -fx-font-size: 1.8em;
}
.chart-legend{
	-fx-background-color:transparent ;
}
.chart-plot-background {
    -fx-background-color: transparent;
}
.default-color0.chart-series-line { -fx-stroke: #e9ab18; }
.default-color1.chart-series-line { -fx-stroke: #69bf3e; }
.default-color2.chart-series-line { -fx-stroke: #a6352d; }
.default-color0.chart-line-symbol { -fx-background-color: #e9ab18, white; }
.default-color1.chart-line-symbol { -fx-background-color: #69bf3e, white; }
.default-color2.chart-line-symbol { -fx-background-color: #a6352d, white; }
