/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/* #hotelPicture{
	-fx-background-image: url(lobby3.jpg); 
	-fx-background-repeat:stretch;
}
 */
 .jfx-badge{
	-fx-border-color: white;
	-fx-background-radius:25;
	-fx-border-radius:25;
	
}
#allot{
	-fx-background-color:  linear-gradient(to top right,#c7596f 0%, #bd062b 100%);
}
#book{
	-fx-background-color:  linear-gradient(to top right,rgba(0,219,255,1) 0%, rgba(0,125,255,1) 100%);
}
#hire{
	-fx-background-color:  linear-gradient(to top right, #58e286 0%, #05a139 100%);
}
#access{
	-fx-background-color:  linear-gradient(to top right, rgba(255,196,106,1) 0%, rgba(255,154,0,1) 100%);
}
#search{
	-fx-background-color:  linear-gradient(to top right, rgba(185,139,255,1) 0%, rgba(102,0,255,1) 100%);
}
#update{
	-fx-background-color:  linear-gradient(to top right, rgba(255,251,108,1) 0%, rgba(255,201,0,1) 100%);
}
#profits{
	-fx-border-color: black;
}
#notif{
	-fx-border-color: black;
}
.badge{
	-fx-border-radius:4;
}
.button{
	-fx-border-color: white;
	-fx-border-radius:4;
}
#bookbtn{
	-fx-background-color:  #0c90c7;
	
}
#allotbtn{
	-fx-background-color:  #902145;
}
#hirebtn{
	-fx-background-color:  #08a40b;
}
#accessbtn{
	-fx-background-color:  #ff9100;
}
#searchbtn{
	-fx-background-color:  #9000ff;
}
#updatebtn{
	-fx-background-color:  #ffd100;
}
.infoArea{
	-fx-background-color:  white;
	-fx-border-width:3;
}